 label.error {
            color: red;
            font-style: italic;
            margin-left: 5px;
        }

        .yel {
            border: 1px dotted #ffffe0;
            background-color: #ffffe0;
        }
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .content {
            height: 95%;
        }
        .box{

            height: 100%;
            margin-top: 40px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 95%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid  767px*/
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
.client {
  width: 400px; /* Ширина элемента в пикселах */
  padding: 10px; /* Поля вокруг текста */
  margin: 0 auto; /* Выравниваем по центру */
  background-color: dimgrey;
}

.body-style{

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  width: 300px;
  padding: 10px;
  margin: 0 auto;

}

.table-style{
  width: 800px;
  padding: 10px;
  margin:  auto;
}


::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 40px;
  background: #282828;
}
.lt-ie9 .addClient-submit {
  position: absolute;
  top: 12px;
  right: -28px;
  padding: 4px;
}
.lt-ie9 .addClient-submit:before, .lt-ie9 .addClient-submit:after {
  display: none;
}
.lt-ie9 .addClient-button {
  line-height: 48px;
}
.lt-ie9 .about {
  background: #313131;
}

